{% extends 'templates/base.html' %}

{% block content %}
<h1>UTM Prebuilt and Template VMs</h1>
<h2>Available VMs</h2>

{% for vm in vms %}
{{ vm['name'] }}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ vm['image'] }}" />

            <div class="card-body">
                <p class="card-text">{{ vm['name'] }}</p>
            </div>
            <div class="card-footer">
                {% for tag in vm['tags'] %}
                <span class="badge rounded-pill bg-{{ tag[1] }}">{{ tag[0] }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}